*{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color:palegoldenrod;
}
.nav-item a{
    color:brown
}
.nav-link{
    color: bisque;
}
.boton-perfil{
    background: color #8a9b0f;
}
.nav-item a:hover{
    color: #88baa3;
}
app{
    color: #ba1e4a;
}
.boton-cv{
    background-color: #e4e6c3;
}
.habilidades {
    background-color: #63203d;
}
.caja habilidades{
    background-color: #88baa3;
}
.btn-proyecto{
    background-color: #ba1e4a;
}
.btn-proyecto a {
text-decoration: none;
color: #63203d;
}
.card  .card-title{
color: #63203d;
}
#contacto{
    background-color: #88baa3;
}
#contacto p {
color: #ba1e4a;
}
#btn-contacto{
    background-color: #8a9b0f;
    color: #e4e6c3;
}
#btn-contacto:hover{
    background-color: #63203d;
}